body {
  min-height: 2000px;
  padding-top: 70px;
}

.tasko-navbar{
  background-color: #FF8000;
  border-color: #E7E7E7;
}

.tasko-navbar .active a{
    background-color: #428BCA !important;
    border-color: #357EBD !important;
    color: #FFFFFF !important;
}

.tasko-navbar a:hover{
   color: #FFFFFF !important;
   text-shadow: 0px 0px 5px #FFFFFF;
}

.tasko-navbar .navbar-brand,
.navbar-collapse a{
  color: #FFFFFF !important;
}

.tasko-task{
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 2px;
    border: 1px solid #FF8000;
}

.tasko-task .btn{
    margin-top: 1px;
}

.tasko-login-page{
    background-color: #FF8000;
    color: #FFFFFF;
}

.tasko-login-form{
    margin-top: 200px;
}