{% extends 'TaskoBundle:Default:index.html.twig' %}

{% block content%}
    <h1> Users <i class="glyphicon glyphicon-user"></i></h1>

    <table id="user-table" class="table table-striped">
        <thead>
            <tr>
                <th>User Id</th>
                <th>Username</th>
                <th>Nickname</th>
                <th>Last Access</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('users_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.nickname }}</td>
                <td>{% if entity.lastAccess %}{{ entity.lastAccess|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    {% if(entity.active == 1) %}
                        <h4><i class="glyphicon glyphicon-check"></i></h4>
                    {% else %}
                        <h4><i class="glyphicon glyphicon-folder-close"></i></h4>
                    {% endif %}
                </td>
                <td>
                <ul class="list-inline list-group">
                    <li>
                        <a class="btn btn-primary" href="{{ path('users_edit', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-edit"></i></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('users_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}

{% block javascript %}
<script type="text/javascript" language="javascript" src="{{ asset('bundles/tasko/js/jquery.1.8.2.js') }}"></script>
<script type="text/javascript" language="javascript" src="{{ asset('bundles/tasko/js/jquery.dataTables.min.js') }}"></script>
<script>
    $(document).ready(function() {
        alert("Helo");
        $('#user-table').dataTable();
    } );
</script>
{% endblock %}
