{% extends 'TaskoBundle:Default:index.html.twig' %}

{% block content%}
    <h1>TaskoUser creation</h1>

    <form action="{{ path('users_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('users') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
