{% extends 'TaskoBundle:Default:index.html.twig' %}

{% block content%}
    <h1>TaskoProject list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Projectname</th>
                <th>Projectdescription</th>
                <th>Active</th>
                <th>Customer</th>
                <th>Started</th>
                <th>Billable</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('projects_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.projectName }}</td>
                <td>{{ entity.projectDescription }}</td>
                <td>{{ entity.active }}</td>
                <td>{{ entity.customer }}</td>
                <td>{% if entity.started %}{{ entity.started|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.billable }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('projects_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('projects_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('projects_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
