{% extends 'TaskoBundle:Default:index.html.twig' %}

{% block content%}
    <h1>TaskoProject</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Projectname</th>
                <td>{{ entity.projectName }}</td>
            </tr>
            <tr>
                <th>Projectdescription</th>
                <td>{{ entity.projectDescription }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ entity.active }}</td>
            </tr>
            <tr>
                <th>Customer</th>
                <td>{{ entity.customer }}</td>
            </tr>
            <tr>
                <th>Started</th>
                <td>{{ entity.started|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Billable</th>
                <td>{{ entity.billable }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('projects') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('projects_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('projects_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
