{% extends '::base.html.twig' %}

{% block body -%}
    <h1>TaskoTask</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Taskname</th>
                <td>{{ entity.taskName }}</td>
            </tr>
            <tr>
                <th>Taskdescription</th>
                <td>{{ entity.taskDescription }}</td>
            </tr>
            <tr>
                <th>Project</th>
                <td>{{ entity.project }}</td>
            </tr>
            <tr>
                <th>Billable</th>
                <td>{{ entity.billable }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('tasks') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('tasks_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('tasks_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
