<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>taskO</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/tasko/css/bootstrap.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/tasko/css/tasko.css') }}" rel="stylesheet">
    {% block stylesheets %}
    {% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/tasko/js/html5shiv.js') }}"></script>
    <script src="{{ asset('bundles/tasko/js/respond.min.js') }} "></script>
    <![endif]-->
</head>

<body class="tasko-login-page">

<div class="container tasko-login-form">
    <h1 class="text-center">TaskO</h1>
    {% block content %}
        {% if error %}
            <div class="text-center col-md-2 col-md-offset-5 label label-danger alert">
                {{ error.message }}
            </div>
        {% endif %}
        <form action="{{ path('login_check') }}" method="post" class="text-center col-md-4 col-md-offset-4">
            <div class="form-group">
                <input id="username" type="text" name="_username" value="{{ last_username }}"  class="form-control" placeholder="Username">
            </div>
            <div class="form-group">
                <input  id="password" type="password" name="_password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary btn-lg" name="login" >Login <i class="glyphicon glyphicon-log-in"></i></button>
        </form>

    {% endblock %}
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ asset('bundles/tasko/js/jquery-1.10.2.min.js') }}"></script>
<script src="{{ asset('bundles/tasko/js/bootstrap.min.js') }}"></script>

{% block javascript %}
{% endblock %}

</body>
</html>