<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>taskO</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/tasko/css/bootstrap.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/tasko/css/tasko.css') }}" rel="stylesheet">
    {% block stylesheets %}
    {% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/tasko/js/html5shiv.js') }}"></script>
    <script src="{{ asset('bundles/tasko/js/respond.min.js') }} "></script>
    <![endif]-->
</head>

<body>

<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top tasko-navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path("tasko_homepage") }}">TaskO</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {% if app.request.get('_route') == 'tasko_homepage' %} class="active"{% endif %}"><a href="{{ path("tasko_homepage") }}">Home <i class="glyphicon glyphicon-home"></i></a></li>
                <li {% if app.request.get('_route') == 'projects' %} class="active"{% endif %}><a href="{{ path("projects") }}">Projects <i class="glyphicon glyphicon-list"></i></a></li>
                <li {% if app.request.get('_route') == 'statistics' %} class="active"{% endif %}><a href="{{ path("statistics") }}">Stats <i class="glyphicon glyphicon-stats"></i></a></li>
                <li {% if app.request.get('_route') == 'users' %} class="active"{% endif %}><a href="{{ path("users") }}">Users <i class="glyphicon glyphicon-user"></i></a></li>
                <li {% if app.request.get('_route') == 'configurations' %} class="active"{% endif %}><a href="{{ path("configurations") }}">Configuration <i class="glyphicon glyphicon-cog"></i></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ path("logout") }}">Logout <i class="glyphicon glyphicon-log-out"></i></a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container">
    {% block content %}
    {% endblock %}
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ asset('bundles/tasko/js/jquery-1.10.2.min.js') }}"></script>
<script src="{{ asset('bundles/tasko/js/bootstrap.min.js') }}"></script>

{% block javascript %}
{% endblock %}

</body>
</html>
